.start-container {
display: grid;
grid-template-columns: repeat(2, minmax(50px, 1fr));
/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
grid-template-rows: repeat(4, minmax(50px, 1fr));
gap: 10px;
height: 95vh;
}

.start-container>span {
display: grid;
text-align: center;
align-items: center;
justify-items: center;
border-radius: 10px;
font-size: large;
box-shadow: 0 3px 0 0 #4a4b56, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px
rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
background-color: #6D6F7F;
background-image: linear-gradient(-45deg, #6D6F7F, #61708b);
color: #E6EAEF;
}

.snippet {

}

.snippet-trans {
font-size:70%;
}

.icon-speak-batch{
position:absolute;
right:2px;
top:2px;
z-index:0;
font-size:100%;
opacity:0.5;
}

.icon-speak{
font-size:50%;
vertical-align: text-top;
z-index:0;
eefont-size:75%;
eevertical-align: baseline;
}

.word-source{
text-align:center;
vertical-align:middle
}